---
layout: layouts/base.njk
templateClass: tmpl-post
---

<div class="parallax">
  <img src={{ image }} ></img>
  <div class="scroll"></div>
</div>

<div class='wrapper'>
  <div class='scroll'></div>
  <div class='inner'>
    <h1>{{ title }}</h1>
    <a href="{{ project }}" class="src">{{ description }}</a>
    <br>
    <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
    {%- for tag in tags | filterTagList -%}
    {%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
    <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
    {%- endfor %}

    <hr>

    <div class='content'>
      {{ content | safe }}

      {%- if collections.posts %}
      {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
      {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
      {%- if nextPost or previousPost %}
    </div>
    <hr>
    <ul>
      {%- if nextPost %}<li>Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
      {%- if previousPost %}<li>Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
    </ul>
    {%- endif %}
    {%- endif %}
  </div>
  <div class='scroll'></div>
</div>
